<!--Verificación de Login-->
<div *ngIf="authService.isLoggedIn==false">
    <router-outlet></router-outlet>
</div>


<!--Construcción del tablero-->
<div>
  <mat-sidenav-container class="sidenav-container" *ngIf="authService.isLoggedIn==true">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="!(isHandset$ | async)">

          <!--Llamado del menu principal-->
          <app-menu-general></app-menu-general>
          <!-- ---------- -->
    </mat-sidenav>

    <mat-sidenav-content>
            <mat-toolbar color="primary">
                <button
                  type="button"
                  aria-label="Toggle sidenav"
                  mat-icon-button
                  (click)="drawer.toggle()"
                  *ngIf="isHandset$ | async">
                  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>

                <span>
                  <img src={{logoMarca}} width="20" height="20" alt="Logo">
                  {{nombreMarca}}
                </span>

                <!--<span>Opciones</span>-->
                <span class="example-fill-remaining-space"></span>
                <span *ngIf="authService.userData as user"><small>{{(user.displayName) ? user.displayName : 'User'}}</small></span>
                <span>
                  <button mat-button (click)="authService.SignOut()">
                    <mat-icon>exit_to_app</mat-icon>Salir
                  </button>
                </span>
            </mat-toolbar>

              <!--Llamado del contenido-->
              aqui en el llamado al contenido
              <router-outlet></router-outlet>
              <!-- ------------------------- -->

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
